<h1>BORGARZ</h1>

<h2>Eat Dem Burgz</h2>

<ul>
    {{#each burgers}}
        {{#unless this.devoured}}
            <li>
                <p>{{this.burger_name}}</p>
                <!--BUILD BETTER DISPLAY FOR BURGERS-->
                <p>{{this.id}}</p> 
            </li>
        {{/unless}}
    {{/each}}
</ul>
<br>

<!--BURGERS THAT HAVE BEEN EATEN-->

<h2>Done Been Ate</h2>
<ul>
    {{#each burgers}}
        {{#if this.devoured}}
            <li>
                <p>{{this.burger_name}}</p>
                <!--BUILD BETTER DISPLAY FOR BURGERS-->
                <p>{{this.id}}</p> 
            </li>
        {{/if}}
    {{/each}}
</ul>
<br>