html{
    min-width: 340px;
}

body{
    background-image: url("../images/burger.jpg");
    background-repeat: repeat;  
    min-width: 340px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 700px) {
  #borgarz {
    font-size: 30px;
  }
  .eat_burg{
      padding-left: 5px;
      padding-right: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
  .brand-logo {
    width: 100%;
  }
}